/* Раскоментируйте чтобы увидеть изменения  */
/* p {
  color: coral;
} */

/* Переопределяет встроенные стили компонента */
/* Раскоментируйте чтобы увидеть изменения  */
/* p:last-of-type {
  color: cyan;
} */

p:nth-of-type(5) {
  color: blue;
}
